gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Arquivos de build
build/
.dart_tool/
.packages
pubspec.lock
*.apk
*.aab

# Arquivos temporários e caches
*.dill
*.so
*.jar
*.dex

# IDEs
.idea/
.vscode/
